html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%; 
    transition: filter 0.5s ease;

}
html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
}
#status {
    position: fixed; 
    top: 10px;         
    margin-left: 10px;        
    width: 80%;
    left: 5%;
    padding: 10px 40px;     
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;                        
    padding: 10px;                       
    text-align: center;                   
    font-size: 1rem;                      
    z-index: 1000; 
    font-family: 'GalmuriMono9';
}
#gameartlayer.door-open {
    background-image: url('문열림.png');
    transition: filter 1s ease, transform 1s ease;
}
#gameartlayer.zoom-in {
        transform: scale(2);
        transform-origin: 50% 60%;
}
body.steal #gameartlayer,
body.steal #steal,
body.steal #gauge-container {
    filter: invert(1);
}
body.steal #gameartlayer1,
body.steal #gauge-container1{
    filter: invert(1)
}

body.steal #gameartlayer2,
body.steal #gauge-container2,
body.steal #skill{
    filter: invert(1)
}
body.steal #gameartlayer3{
    filter: invert(1)
}
body.steal #gameartlayer.door-open{
    filter: invert(1);
}
body.steal.door-open #gameartlayer{
    filter: invert(1);
}

#gameartlayer {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('문.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
   transition: filter 0.5s ease, background-image 0.5s ease, transform 0.5s ease;
}
 #steal{
        position: fixed;
        width: 50vw;;
        transform: translate(-58%,0);
        left: 50vw;
        top: 57vh;
        z-index: 20;
        
    }
#gauge-container{
    position: fixed;
    padding: 1vh;
    height: 3.2vh;
    width: 38vw;
    transform: translateX(-50%);
    left: 50%;
    top: 96.2%;
    z-index: 1000;
    box-sizing: border-box;
    background-size: 100% 100%; 
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
    
#gauge-container.show{
    opacity: 1;
}
#identity-gauge {
    width: 100%; 
    height: 100%; 
    background-color: #ff2f2f; 
    transition: width 0.5s ease; 
}
